header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text-div {
    color: white;
}

.header-text-div h3 {
    text-align: center;
    font-weight: 500;
    letter-spacing: .1em;
}

.header-content-div {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 89%;
    flex-direction: column;
    max-width: 1350px;
}

.header-logo-div {
    margin-bottom: -30px;
}

